<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <p>Welcome, <%= user %>!</p>
           
            <a href="/recipes/new">Add a New Recipe</a>
            <ul>
                <% for(let i = 0; i < recipes.length; i++){ %>
        
                    <li><a href="/recipes/<%= recipes[i]._id %>"><%= recipes[i].title %></a></li>
                            
                <% } %>
            </ul>
        </div>
    </main>
</body>
</html>