<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <article>
                <h2><%= recipe.title %></h2>
                <h3><%= recipe.type %></h3>
                <p><img src="<%= recipe.image %>" style="aspect-ratio: 16 / 9; max-width: 100%; height: auto"></p>
                <p>Ingredients:<%= recipe.ingredients %></p>
                <p>Instruction:<%= recipe.instruction %></p>
                <a href="/recipes/<%=recipe._id%>/edit"><button>Edit</button></a>
                <form action="/recipes/<%=recipe._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="delete" />
                </form>
                <a href="/recipes"><button>Back To Main</button></a>
            </article>
        </div>
    </main>
</body>
</html>