<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <style>
        .container {
            width: 80vw;
            height: 40vw;
            margin: 40px auto;
            display: flex;
        }
        .sidebar {
            background-size: 40rem 80rem;
            width: 60rem;
            background-repeat: no-repeat;           
        }
        .sidebar img {
            width: 80%;
            height: auto;
            object-fit: fill;
        }
        legend h2 {
            font-family: 'Solway', serif;
            text-align: left;
        }
        legend h3 {
            font-family: 'Nunito', sans-serif;
            text-align: left;
        }
        nav {
            font-family: 'Hammersmith One', sans-serif;
            font-size: 20px;
        }
        .link-container {
            display: flex;
        }
        .nav-link {
            margin-right: 10px;
        }
    </style>
    <main>
       
        <div class="container">  
               <div class="sidebar">
                <img src="<%= recipe.image || '/images/defaultImage.png' %>" alt="Recipe Image">
               </div>
               <div class="recipe-info">
                <fieldset class="recipeinfo">
                    <legend><h2><%= recipe.title %></h2></legend>
               <legend>Recipe Type: <h5><%= recipe.type %></h5></legend>
                <legend>Ingredients:</legend>
                <ul>
                    <% recipe.ingredients.split(',').forEach(function(ingredient) { %>
                        <li><%= ingredient.trim() %></li>
                    <% }) %>
                </ul>
                <legend>Instruction:</legend>
                <ol>
                    <% recipe.instruction.split(',').forEach(function(instruction) { %>
                        <li><%= instruction.trim() %></li>
                    <% }) %>
                </ol>
            </fieldset>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <div class="link-container">
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/recipes/<%=recipe._id%>/edit"><button style="background-color: transparent; border-color: transparent; font-size: 1.4rem">EDIT</a></button>
                    <form action="/recipes/<%=recipe._id %>?_method=DELETE" method="POST">
                        <button style="background-color: transparent; color: darkslategray; border-color: transparent; font-size: 1.4rem" type="submit">DELETE</button>                         
                    </form>
                    <a class="nav-link fw-bold py-1 px-0" href="/recipes"><button style="background-color: transparent; border-color: transparent; font-size: 1.4rem">BACK TO LIST</a></button>
                    </div>
                </nav>
            </article>
        </div>
    </div>
    </main>
</body>
</html>