<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <style>
        .container {
            width: 80vw;
            height: 40vw;
            margin: 40px auto;
            display: flex;
        }
        .sidebar {
            background: url('<%=recipe.image || '/images/defaultImage.png' %>');
            background-size: 30vw 70vh;
            width: 80rem;
            background-repeat: no-repeat;   
        }
        legend h2 {
            font-family: 'Solway', serif;
            text-align: left;
        }
        legend h3 {
            font-family: 'Nunito', sans-serif;
            text-align: left;
        }
        nav {
            font-family: 'Hammersmith One', sans-serif;
            font-size: 20px;
        }
        .link-container {
            display: flex;
        }
        .nav-link {
            margin-right: 10px;
        }
        .link-button {
            background: none;
            border: none;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
            padding: 0;
            font-size: 18px;
            margin-right: 10px;
        }
    </style>
    <main>
       
        <div class="container">  
               <div class="sidebar"></div>
               <div class="recipe-info">
                <fieldset class="recipeinfo">
                    <legend><h2><%= recipe.title %></h2></legend>
               <legend>Recipe Type: <h5><%= recipe.type %></h5></legend>
                <legend>Ingredients:</legend>
                <ul>
                    <% recipe.ingredients.split(',').forEach(function(ingredient) { %>
                        <li><%= ingredient.trim() %></li>
                    <% }) %>
                </ul>
                <legend>Instruction:</legend>
                <ol>
                    <% recipe.instruction.split(',').forEach(function(instruction) { %>
                        <li><%= instruction.trim() %></li>
                    <% }) %>
                </ol>
            </fieldset>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <div class="link-container">
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/recipes/<%=recipe._id%>/edit">EDIT</a>
                    <form action="/recipes/<%=recipe._id %>?_method=DELETE" method="POST">
                        <button class="link-button" type="submit">DELETE</button> 
                    </form>
                    <a class="nav-link fw-bold py-1 px-0" href="/recipes">BACK TO LIST</a>
                    </div>
                </nav>
            </article>
        </div>
    </div>
    </main>
</body>
</html>